extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 What would you like to do?
    p
      a(href='/newstudent') Add a new student
    p
      a(href='/thelist') List all students
